<!DOCTYPE html>
<html>
    <head>
        <Link rel="stylesheet" href="style.css">
        <Link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Gruppo&family=Knewave&family=Montserrat&family=Raleway&family=Sniglet:wght@800&display=swap" rel="stylesheet">
        <title>Pchee Bum</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="row">
                <div>
                    <a class="brand" href="index.html">Pchee Bum</a>
                </div>
                <div>
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">Sign In</a>
                </div>

            </header>
            <main>
                <div>
                    <img class="landingPage" src="/sources/PcheeBum Cover.jpg" />
                </div>
                <div class="title">
                    <h1>P<img class="bum" src="/sources/PcheeBum.png"/>chee Bum</h1>
                 </div>
                <div class="row center">
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px -->
                            <img class="medium" src="images'/product-1.png" alt="product" />
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Biker Set</h2>
                            </a>
                            <div class="price">
                                $60
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px -->
                            <img class="medium" src="images'/product-1.png" alt="product" />
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Biker Set</h2>
                            </a>
                            <div class="price">
                                $60
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px -->
                            <img class="medium" src="images'/product-1.png" alt="product" />
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Biker Set</h2>
                            </a>
                            <div class="price">
                                $60
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px -->
                            <img class="medium" src="images'/product-1.png" alt="product" />
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Biker Set</h2>
                            </a>
                            <div class="price">
                                $60
                            </div>
                        </div>
                    </div>
                </div>

            </main>
            <footer class="row center">
                All rights reserved
            </footer>
        </div>
    </body>
</html>